/*  your css code here. If applicable */
body {
	background-color: rgb(204, 204, 204);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2 {
	text-align: center;
}

.songs-list {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.songs-list li {
	margin-bottom: 10px;
}

.songs-list a {
	text-decoration-line: none;
	color: black;
}

.player_one, .player_two {
	background-color: rgb(255, 255, 255);
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
}